<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ke.merlin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <application
        android:name=".utils.database.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key" />

        <service
            android:name=".services.FirsttimeSyncIntentService"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.setup.RegistrationActivity"
            android:label="@string/title_activity_verification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.setup.FirsttimeSyncActivity"
            android:label="@string/title_activity_login_sync"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.leads.LeadActivity"
            android:label="@string/title_activity_lead"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.merlin.MainActivity" />
        </activity>
        <activity
            android:name=".modules.customers.CustomerActivity"
            android:label="@string/title_activity_customer"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.merlin.MainActivity" />
        </activity>

        <service
            android:name=".services.LeadsIntentService"
            android:exported="false" />
        <service
            android:name=".services.CustomersIntentService"
            android:exported="false" />

        <activity
            android:name=".modules.leads.outcomes.LeadOutcomesActivity"
            android:label="@string/title_activity_lead_outcomes"
            android:parentActivityName=".modules.leads.LeadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.merlin.modules.leads.LeadActivity" />
        </activity>
        <activity
            android:name=".modules.leads.ConvertStepperActivity"
            android:label="@string/title_activity_convert_stepper"
            android:parentActivityName=".modules.leads.LeadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.merlin.modules.leads.LeadActivity" />
        </activity>

        <service
            android:name=".services.LoginIntentService"
            android:exported="false" />

        <activity
            android:name=".modules.business.BusinessStepperActivity"
            android:label="@string/title_activity_business_stepper"
            android:parentActivityName=".modules.customers.CustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.merlin.modules.customers.CustomerActivity" />
        </activity>
        <activity
            android:name=".modules.loans.LoansActivity"
            android:label="@string/title_activity_loans"
            android:parentActivityName=".modules.customers.CustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.merlin.modules.customers.CustomerActivity" />
        </activity>
        <activity
            android:name=".modules.search.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.merlin.MainActivity" />
        </activity>

        <provider
            android:name=".sync.StubProvider"
            android:authorities="ke.merlin.sync"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".modules.customers.CustomerDetailsActivity"
            android:label="@string/title_activity_customer_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.password.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.business.BusinessDetailsActivity"
            android:label="@string/title_activity_business_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.sms.SmsActivity"
            android:label="@string/title_activity_sms"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>